/* we prefer bootstrap buttons to adaptable buttons... */

/* Default buttons */

/* Following no longer true as we're based on sane branch rather than raw adaptable. */

/* need !important as adaptable has added to to #009688 color setting for links in adaptable.css (:( */
/* Unfortunately I expect use of !important to cause trouble with links as bootstrap-styled buttons,
   as color and text-decoration are both set !important in adaptable. */
/* Got rid of .btn a:<foo> as it doesn't select a.btn */
.btn {
    color: [[setting:buttontextcolor]];
    background-color: [[setting:buttoncolor]];
    text-decoration: none !important;
}

.btn.hidden {
    display: none;
}

/* If we just include this above, we lose colour change on hover, and we don't
   have anything useful we could set bg to in that case
*/
.btn:visited {
    color: [[setting:buttontextcolor]];
}


/* Bootstrap Styles
----------------------------------*/

/* Buttons - Set the backgrounds */
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-group .dropdown-menu {
    right:auto; 
}

/* Med Coloured Buttons! 
------------------------------------------------*/

.btn-colour1 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #929292;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #9e9e9e, #7a7a7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9e9e), to(#7a7a7a));
  background-image: -webkit-linear-gradient(top, #9e9e9e, #7a7a7a);
  background-image: -o-linear-gradient(top, #9e9e9e, #7a7a7a);
  background-image: linear-gradient(to bottom, #9e9e9e, #7a7a7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9e9e9e', endColorstr='#ff7a7a7a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* :hover etc. bgcolor must be the same as lower edge of gradient, or it
   will look like crap when transition happens. */
.btn-colour1:hover,
.btn-colour1:focus,
.btn-colour1:active,
.btn-colour1.active,
.btn-colour1.disabled,
.btn-colour1[disabled] {
  color: #ffffff;
  background-color: #7a7a7a;
/*  background-color: #A4A4A4; */
}

.btn-colour1 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour1:hover .caret,
.btn-colour1:focus .caret,
.btn-colour1:active .caret,
.btn-colour1.active .caret,
.btn-colour1.disabled .caret,
.btn-colour1[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour1:active,
.btn-colour1.active {
  background-color: #A4A4A4 \9;
}

.btn-colour2 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #D1AA1E;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #deb420, #bf9c1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#deb420), to(#bf9c1b));
  background-image: -webkit-linear-gradient(top, #9e9e9e, #bf9c1b);
  background-image: -o-linear-gradient(top, #deb420, #bf9c1b);
  background-image: linear-gradient(to bottom, #deb420, #bf9c1b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdeb420', endColorstr='#ffbf9c1b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour2:hover,
.btn-colour2:focus,
.btn-colour2:active,
.btn-colour2.active,
.btn-colour2.disabled,
.btn-colour2[disabled] {
  color: #ffffff;
  background-color: #bf9c1b;
/*  background-color: #F1C527; */
}

.btn-colour2 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour2:hover .caret,
.btn-colour2:focus .caret,
.btn-colour2:active .caret,
.btn-colour2.active .caret,
.btn-colour2.disabled .caret,
.btn-colour2[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour2:active,
.btn-colour2.active {
  background-color: #F1C527 \9;
}

.btn-colour3 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #903CBD;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #9b41cc, #7e35a6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9b41cc), to(#7e35a6));
  background-image: -webkit-linear-gradient(top, #9b41cc, #7e35a6);
  background-image: -o-linear-gradient(top, #9b41cc, #7e35a6);
  background-image: linear-gradient(to bottom, #9b41cc, #7e35a6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b41cc', endColorstr='#ff7e35a6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour3:hover,
.btn-colour3:focus,
.btn-colour3:active,
.btn-colour3.active,
.btn-colour3.disabled,
.btn-colour3[disabled] {
  color: #ffffff;
  background-color: #7e35a6;
/*  background-color: #AE5DD9; */
}

.btn-colour3 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour3:hover .caret,
.btn-colour3:focus .caret,
.btn-colour3:active .caret,
.btn-colour3.active .caret,
.btn-colour3.disabled .caret,
.btn-colour3[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour3:active,
.btn-colour3.active {
  background-color: #AE5DD9 \9;
}

.btn-colour4 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #62c462, #52a652);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#52a652));
  background-image: -webkit-linear-gradient(top, #62c462, #52a652);
  background-image: -o-linear-gradient(top, #62c462, #52a652);
  background-image: linear-gradient(to bottom, #62c462, #52a652);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff52a652', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour4:hover,
.btn-colour4:focus,
.btn-colour4:active,
.btn-colour4.active,
.btn-colour4.disabled,
.btn-colour4[disabled] {
  color: #ffffff;
  background-color: #52a652;
/*  background-color: #7AD77A; */
}

.btn-colour4 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour4:hover .caret,
.btn-colour4:focus .caret,
.btn-colour4:active .caret,
.btn-colour4.active .caret,
.btn-colour4.disabled .caret,
.btn-colour4[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour4:active,
.btn-colour4.active {
  background-color: #408140 \9;
}

.btn-colour5 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #4db9d9, #429fba);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4db9d9), to(#429fba));
  background-image: -webkit-linear-gradient(top, #4db9d9, #429fba);
  background-image: -o-linear-gradient(top, #4db9d9, #429fba);
  background-image: linear-gradient(to bottom, #4db9d9, #429fba);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4db9d9', endColorstr='#ff429fba', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour5:hover,
.btn-colour5:focus,
.btn-colour5:active,
.btn-colour5.active,
.btn-colour5.disabled,
.btn-colour5[disabled] {
  color: #ffffff;
  background-color: #429fba;
/*  background-color: #53C0E0; */
}

.btn-colour5 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour5:hover .caret,
.btn-colour5:focus .caret,
.btn-colour5:active .caret,
.btn-colour5.active .caret,
.btn-colour5.disabled .caret,
.btn-colour5[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour5:active,
.btn-colour5.active {
  background-color: #24748c \9;
}

.btn-colour6 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A60B0B;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #b80c0c, #940a0a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b80c0c), to(#940a0a));
  background-image: -webkit-linear-gradient(top, #b80c0c, #940a0a);
  background-image: -o-linear-gradient(top, #b80c0c, #940a0a);
  background-image: linear-gradient(to bottom, #b80c0c, #940a0a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb80c0c', endColorstr='#ff940a0a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour6:hover,
.btn-colour6:focus,
.btn-colour6:active,
.btn-colour6.active,
.btn-colour6.disabled,
.btn-colour6[disabled] {
  color: #ffffff;
  background-color: #940a0a;
/*  background-color: #B53939; */
}

.btn-colour6 .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour6:hover .caret,
.btn-colour6:focus .caret,
.btn-colour6:active .caret,
.btn-colour6.active .caret,
.btn-colour6.disabled .caret,
.btn-colour6[disabled] .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-colour6:active,
.btn-colour6.active {
  background-color: #B53939 \9;
}

.btn-colour7 {
  color: #363636 !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f2f2f2;
  border-color: #d3d3d3;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
  background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
  background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-colour7:hover,
.btn-colour7:focus,
.btn-colour7:active,
.btn-colour7.active,
.btn-colour7.disabled,
.btn-colour7[disabled] {
  color: #363636 !important;
  background-color: #e0e0e0;
/*  background-color: #F0F0F0; */
}

.btn-colour7 .caret {
  border-top-color: #363636;
  border-bottom-color: #363636;
}

.btn-colour7:hover .caret,
.btn-colour7:focus .caret,
.btn-colour7:active .caret,
.btn-colour7.active .caret,
.btn-colour7.disabled .caret,
.btn-colour7[disabled] .caret {
  border-top-color: #363636;
  border-bottom-color: #363636;
}

.btn-colour7:active,
.btn-colour7.active {
  background-color: #F0F0F0 \9;
}

/*a.btn.btn-colour7 {
    color:pink !important;
}*/



/* Med Buttons! For "jump links" on courses
------------------------------------------------*/

.medbutt img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 10px 10px 5px 6px rgb(0,0,0,0.5);
    border-radius: 5px;
    background-color: green;
    color: #fff;    
}


/* Mods to standard or adaptable buttons... */

.btn-link,
.btn-default,
[data-role="next"],
[data-role="previous"],
input[type="submit"],
input[type="button"],
#searchform_button,
a.submit,
#notice .singlebutton + .singlebutton input,
#page-login-index2 .forgetpass a,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input {
    padding: 8px 15px 8px; /* we need this even as we don't have shadow */
}
.btn {
    padding: 8px 15px 8px;  /* we need this even as we don't have shadow */
}
[data-role="end"],
[data-role="cancel"],
.cancel a,
.purgecaches a {
    padding: 8px 15px 8px; /* we need this even as we don't have shadow */
}

.btn-large {
    padding: 15px 23px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* Override button look. List of options here is excessive. Should investigate reducing it.*/
/*
Try using adaptable's options for buttons first...

input[type="submit"],
input[type="button"], 
#searchform_button, 
a.submit, 
#notice .singlebutton + .singlebutton input, 
.submit.buttons input[name="cancel"], 
#page-login-index2 .forgetpass a, 
.btn, 
input.form-submit, 
input#id_submitbutton, 
input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], 
td.submit input {
	border-radius: 0px;
	box-shadow: none;
}
*/
.btn,
input[type="submit"] {
	box-shadow: none !important;
}

.btn {
    margin-bottom: 4px;
}

/* Editing button try again*/
#edittingbutton .btn{
	/*background-color: #F58220;*/
	border: none;
	/*margin-left: 10px;*/
	margin-top: 0px;
    background-image: none;
}


#bootbutt {
    /*line-height: 1em;*/
    margin-top: 0;
}

#bootbutt .btn {
    font-size: 1.1em;
}

#bootbutt .btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Seriously. Very. Important. */
.navbar #bootbutt .btn {
    background-color: transparent !important;
}


/* Disabled buttons */
button.disabled, 
input.form-submit.disabled,
input.disabled[type="button"], 
input.disabled[type="submit"], 
input.disabled[type="reset"], 
button[disabled], 
input.form-submit[disabled], 
input[type="button"][disabled], 
input[type="submit"][disabled], 
input[type="reset"][disabled] {
    opacity: 1;
    background-color: #d6d6d6;
}

button.disable:hover, 
input.form-submit.disabled:hover,
input.disabled[type="button"]:hover, 
input.disabled[type="submit"]:hover, 
input.disabled[type="reset"]:hover, 
button[disabled]:hover, 
input.form-submit[disabled]:hover, 
input[type="button"][disabled]:hover, 
input[type="submit"][disabled]:hover, 
input[type="reset"][disabled]:hover {
    opacity: 0.6;
}

