/* This document contains styles for facmed content only. Any styles that are for the
theme itself should remain in the med.css file. */

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}


/* ELM ALM Buttons/Table -> On the Front pages
------------------------------------------------*/

table.med_tabbuttons {
    width: 100%;
}

table.med_tabbuttons .nav {
    margin: 0 0 10px 0;
}

table.med_tabbuttons .nav-tabs li a {
    opacity: 0.3;
/*    background-color: transparent; */
/*    border: none !important;*/
}

table.med_tabbuttons .nav-tabs li.active a {
    opacity: 1;
    background-color: transparent;
    border-bottom-color: [[setting:regionmaincolor]];
}

#ELM_ALM_menu {
    /*max-width: 465px;*/
}

/*
.ELM_ALM_buttons {
    width: 200px;
    color: #fff;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, .5);
    font-size: 3em;
    line-height: 1em;
    font-family: sans-serif;
    letter-spacing: 2px;
    clear: right;
    padding: 10px;
    display: inline-block;
}

#ELM_button {
    background-color: #BD6666;
    border-radius: 0 0 0 3px;
    text-align: left;
    padding-left: 20px;
}

#ELM_button a {
    text-decoration: none;
    width: 300px;
    height: 200px;
    padding-right: 100px;
    color: #fff;
}

#ALM_button {
    background-color: #5B8EAF;
    border-radius: 0 0 15px 0;
    text-align: right;
    padding-right: 20px;
}

#ALM_button a {
    text-decoration: none;
    width: 300px;
    height: 200px;
    padding-left: 100px;
    color: #fff;
}

*/

/* ELM_ALM button Subheading label */
/*
.ELM_ALM_headings {
    float: left;
    width: 200px;
    font-size: .7em;
    text-transform: uppercase;
    font-family: sans-serif;
}

#ELM_ALM_menu_bottom_ELM {
    margin-left: 20px;
    clear: left;
}

#ELM_ALM_menu_bottom_ALM {
    margin-right: 20px;
    margin-left: 20px;
    text-align: right;
}

#ELM_div {
    clear: left;
}

#ALM_div {
    clear: left;
}
*/

/* ELM ALM Badges Version2*/

#elmalm_buttons {
    text-align: center;
}

.school_badge_container {
    color: #fff;
    display: inline-block;
    margin: 0 auto;
}

.school_badge {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
    color: #fff;
}

.elm_badge {
    background-color: #BD6666;
    border-radius: 3px;
    text-align: left;
}

.alm_badge {
    background-color: #5B8EAF;
    border-radius: 3px;
    text-align: left;
}

.school_name {
    font-family: 'Helvetica Neue'sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .1em;
    line-height: 100%;
}

.school_full_name {
    font-family: 'Helvetica Neue'sans-serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: .5em;
    clear: left;
    margin:.3em 0px;
    letter-spacing: .1em;
    padding: 5px 5px 0px 5px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Line break with title */

h2.h2line {
    font-weight: 100;
    font-family: 'Helvetica Neue'sans-serif;
    letter-spacing: .1em;
    margin: 0px 20px;
    color: #000;
    font-size: 2em;
    height: 90px;
    line-height: 90px;
    border-bottom: medium none;
    /*padding-bottom: 20px;*/
    padding-top: 25px;
    background: url([[pix:theme|linebreaker]]) repeat-x;
    background-position: left 75px;
    text-align: center;
}

h2.h2line span {
    background: none repeat scroll 0% 0% #FFF;
    color: #000;
    text-shadow: none;
    padding: 0 10px;
}



/* Facmed front page course table.
--------------------------------------------------------*/
div.facmed_coursetable {
    max-height: 80vh;
}

table.facmed_coursetable {
    overflow-x: auto;
    box-sizing: border-box;
    font-size: 12px;
    border-collapse: collapse;
}

table.facmed_coursetable table {
    border-spacing: 0 !important;
    border-collapse: initial;
}

table.facmed_coursetable tbody {
    border-spacing: 0 !important;
}

table.facmed_coursetable tr {
    border-spacing: 0 !important;
    box-sizing: border-box;
}

table.facmed_coursetable td {
    padding: 0;
    height: inherit;
    box-sizing: border-box;
}
table.facmed_coursetable .column {
    width:16em;
}
table.facmed_coursetable .titlecolumn {
    width:6em;
}
table.facmed_coursetable .column td,
table.facmed_coursetable .titlecolumn td {
    display: table;
    width: 100%;
    padding: 1px;
}


/* Can't afford padding here; not entirely sure what the mismatch is yet */
table.facmed_coursetable .twocolumn td,
table.facmed_coursetable .fourcolumn td,
table.facmed_coursetable .sixcolumn td {
    display: table;
    width: 100%;
    padding: 1px;
}

table.facmed_coursetable .twocolumn td > div,
table.facmed_coursetable .fourcolumn td > div,
table.facmed_coursetable .sixcolumn td > div {
    height: 100%;
    display: table-cell;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: middle;
}

table.facmed_coursetable .column td > div,
table.facmed_coursetable .titlecolumn td > div {
    height: 100%;
    display: table-cell;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 5px;
    vertical-align: middle;
    border-radius: 3px;
}

/* actual width is set by colspan, and the 100% here */
table.facmed_coursetable .twocolumn,
table.facmed_coursetable .fourcolumn,
table.facmed_coursetable .sixcolumn {
    width: 100%;
}

/*
table.facmed_coursetable .fourcolumn td > div,
table.facmed_coursetable .sixcolumn td > div {

}
*/

table.facmed_coursetable .vertical.column td {
    vertical-align: middle;
}

tr.facmed_coursetable_label table.column,
tr.facmed_coursetable_label table.twocolumn,
tr.facmed_coursetable_label table.fourcolumn,
tr.facmed_coursetable_label table.sixcolumn {
    height: 5.5em;
}

tr.facmed_coursetable_label .column td,
tr.facmed_coursetable_label .twocolumn td,
tr.facmed_coursetable_label .fourcolumn td,
tr.facmed_coursetable_label .sixcolumn td {
    height: 100%;
    padding: 1px;
}

tr.facmed_coursetable_label > td,
td.facmed_coursetable_label {
    background-color: #9c9b9b; 
    padding: 0;
    font-weight: bold;
    /*border-radius: 6px;*/
    text-align: center;
    color: #fff;
}

.facmed_coursetable_label a,
.dimmed_text .facmed_coursetable_label a {
    color: #fff;
    text-decoration: none;
}

.facmed_coursetable_column_label {
    border: 1px solid #8b8b7e; 
    background-color: #ffffff;
    padding: 2px; 
    text-align: center;
}

.facmed_coursetable_frame {
    background-color: pink;
}

.facmed_coursetable_course {
    border-radius: 0px;
    border: 1px solid #8b8b7e; 
    padding: 2px 5px;
}

.facmed_coursetable_verticalmodule_bg {
    background-color: #e6e6e6; 
    padding: 2px; 
}

.facmed_coursetable_verticalmodule {
    background-color: #ffffff;
}

/*
.week2{height:2em;}
.week3{height:3em;}
.week4{height:4em;}
.week5{height:5em;}
.week6{height:6em;}
.week7{height:7em;}
.week8{height:8em;}
.week9{height:9em;}
.week10{height:10em;}
.week11{height:11em;}
.week12{height:12em;}
.week35{height:35em;}
.week48{height:48em;}
.week70{height:70em;}
.week73{height:73em;}
.width6{width:6em;}
*/
/*
.week2{height:2.5em;}
.week3{height:3.75em;}
.week4{height:5em;}
.week5{height:6.25em;}
.week6{height:7.5em;}
.week7{height:8.75em;}
.week8{height:10em;}
.week9{height:11.25em;}
.week10{height:12.5em;}
.week11{height:13.75em;}
.week12{height:15em;}
.week13{height:16.25em;}
.week18{height:22.5em;}
.week33{height:41.25em;}
.week35{height:43.75em;}
.week48{height:60em;}
.week70{height:87.5em;}
.week73{height:91.25em;}
*/
.facmed_coursetable_alm .column .week1 td div {padding-top: 0; padding-bottom: 0;}
.facmed_coursetable_alm .week1{height:1.5em;}
.facmed_coursetable_alm .week2{height:3em;}
.facmed_coursetable_alm .week3{height:4.5em;}
.facmed_coursetable_alm .week4{height:6em;}
.facmed_coursetable_alm .week5{height:7.5em;}
.facmed_coursetable_alm .week6{height:9em;}
.facmed_coursetable_alm .week7{height:10.5em;}
.facmed_coursetable_alm .week8{height:12em;}
.facmed_coursetable_alm .week9{height:13.5em;}
.facmed_coursetable_alm .week10{height:15em;}
.facmed_coursetable_alm .week11{height:16.5em;}
.facmed_coursetable_alm .week12{height:18em;}
.facmed_coursetable_alm .week13{height:19.5em;}
.facmed_coursetable_alm .week17{height:25.5em;}
.facmed_coursetable_alm .week18{height:27em;}
.facmed_coursetable_alm .week30{height:45em;}
.facmed_coursetable_alm .week33{height:49.5em;}
.facmed_coursetable_alm .week35{height:52.5em;}
.facmed_coursetable_alm .week48{height:72em;}
.facmed_coursetable_alm .week70{height:105em;}
.facmed_coursetable_alm .week73{height:109.5em;}
.facmed_coursetable_alm .width6{width:6em;}
/*.week35 td{width:100%}*/

.facmed_coursetable_elm .column .week1 td div {padding-top: 0; padding-bottom: 0;}
.facmed_coursetable_elm .week1{height:2em;}
.facmed_coursetable_elm .week2{height:4em;}
.facmed_coursetable_elm .week3{height:6em;}
.facmed_coursetable_elm .week4{height:8em;}
.facmed_coursetable_elm .week5{height:10em;}
.facmed_coursetable_elm .week6{height:12em;}
.facmed_coursetable_elm .week7{height:14em;}
.facmed_coursetable_elm .week8{height:16em;}
.facmed_coursetable_elm .week9{height:18em;}
.facmed_coursetable_elm .week10{height:20em;}
.facmed_coursetable_elm .week11{height:22em;}
.facmed_coursetable_elm .week12{height:24em;}
.facmed_coursetable_elm .week13{height:26em;}
.facmed_coursetable_elm .week14{height:28em;}
.facmed_coursetable_elm .week17{height:34em;}
.facmed_coursetable_elm .week18{height:36em;}
.facmed_coursetable_elm .week30{height:60em;}
.facmed_coursetable_elm .week33{height:66em;}
.facmed_coursetable_elm .week34{height:68em;}
.facmed_coursetable_elm .week35{height:70em;}
.facmed_coursetable_elm .week48{height:96em;}
.facmed_coursetable_elm .week70{height:140em;}
.facmed_coursetable_elm .week73{height:146em;}
.facmed_coursetable_elm .width6{width:6em;}


.facmed_coursetable_wholeclass {
    background-color: #ffefcc; 
    /*    background-color: #e5dffc; */
    /*    background-color: #aaeedd; */
    
}

/* ELM Table Specific 
----------------------*/
.facmed_coursetable_elm {
    /*	display: none; */
}

.facmed_coursetable_feature {
    background-color: #899fda;
}

.facmed_coursetable_case_elm {
    background-color: #fff7ee;
}

.facmed_coursetable_epe_elm {
     background-color: #f0ecee;   
}

.facmed_coursetable_clinskills_elm {
    background-color: #f7f7f7;
}

/* ALM Table Specific 
----------------------*/
.facmed_coursetable_alm {
    display: none;
}

.facmed_coursetable_medicine {
    background-color: #daeef3;
}

.facmed_coursetable_psychmed {
    background-color: #e5dfec; 
}

.facmed_coursetable_surgery {
    background-color: #fde9d9; 
}

.facmed_coursetable_gp {
    background-color: #eeece1; 
}

.facmed_coursetable_wch {
    background-color: #ffffcc; 
}

.facmed_coursetable_geriatrics {
    background-color: #dbe5f1; 
}

.facmed_coursetable_skills {
    background-color: #b6dde8; 
}

.facmed_coursetable_musculo {
    background-color: #f2dbdb; 
}

.facmed_coursetable_elective {
    background-color: #cae8bb; 
}

.facmed_coursetable_community {
    background-color: #f2f2f2; 
}



/* Jumplinks 
---------------------------------- */

#jumpToBox {
    /*	background-color:#EAEAEA; */
    float:left; 
    border:  1px solid #DBDBDB; 
    padding: 10px 20px 10px 20px;
}

#jumpToBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#jumpToBox h2 {
    border-bottom: 1px solid #999999;
    text-shadow: none;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .8em;
    color: #999;
    line-height: 2em;
    margin: 0 0 10px 0;
}


#jumpToBox li {
    float: left;
    padding: 0 10px ;
}

#jumpToBox a {
    text-decoration: none;
    display: block;
    min-width: 80px;
}

#jumpToBox a:hover {
    text-decoration: underline;
    
}



/* Old jump links solution*/
.jumplinks_box {
    background-color:#5a6c88; 
    float:left; 
    border-radius: 10px 10px 0 0; 
    padding: 10px 5px 10px 5px;
}

.jumplinks_box ul{
    list-style-type:none;
    padding: 0; 
    margin: 0; 
    color:white;
}

.jumplinks_box li{
    float:left;
    padding: 0 10px;
    border-right: 1px solid #b7bfcb;
}

.jumplinks_box li:first-child,
.jumplinks_box li:last-child
{
    border-right: none;
}

.jumplinks_box ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.jumplinks_box ul li a:link,
.jumplinks_box ul li a:visited,
.jumplinks_box ul li a:active,{
    color:white;
    text-decoration: none;
}

.jumplinks_box ul li a:hover{
    color:white;
    text-decoration: underline;
}

.jumplinks_box ul li span{
    line-height: 1.1em;

}

quote {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5em;
    padding-bottom: 1.55em;
    font-size: 1.25em;
}

quote cite {
    display: block;
    text-align: right;
    font-style: italic;
    padding-right: 10%;
    padding-top: 1em;
}

.cell100 td, td.cell100, .cell100 th, th.cell100 {
    max-width: 100px;
}

.cell200 td, td.cell200, .cell200 th, th.cell200 {
    max-width: 200px;
}

.cell300 td, td.cell300, .cell300 th, th.cell300 {
    max-width: 300px;
}

.cell400 td, td.cell400, .cell400 th, th.cell400 {
    max-width: 400px;
}

.cell500 td, td.cell500, .cell500 th, th.cell500 {
    max-width: 500px;
}

.cell600 td, td.cell600, .cell600 th, th.cell600 {
    max-width: 600px;
}

.cell700 td, td.cell700, .cell700 th, th.cell700 {
    max-width: 700px;
}

.cell800 td, td.cell800, .cell800 th, th.cell800 {
    max-width: 800px;
}

