/* CSS mods necessary for slider */

.flex-direction-nav a:before {
  font-family: "flexslider-icon" !important;
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
